@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;700&family=Dancing+Script:wght@400;700&family=IBM+Plex+Sans:wght@100;300;400;500;700&family=Merriweather:wght@300;400;700;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,200&family=Open+Sans:wght@300;400;700&family=Poppins:wght@300&family=Roboto+Mono:ital,wght@0,100;0,400;1,700&family=Roboto+Slab:wght@100;200;300;400;800&family=Roboto:ital,wght@0,100;0,400;1,900&display=swap");

body {
  
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
